In [21]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
import sys
sys.path.append("../extraction_core/page_selection")
sys.path.append("../extraction_core/extraction")
sys.path.append("../extraction_core/")

In [2]:
import hvac
import os
client = hvac.Client(
    url="https://vault.lab.sspcloud.fr", token=os.environ["VAULT_TOKEN"]
)

secret = os.environ["VAULT_MOUNT"] + os.environ["VAULT_TOP_DIR"] + "/s3_creds"
mount_point, secret_path = secret.split("/", 1)
secret_dict = client.secrets.kv.read_secret_version(
    path=secret_path, mount_point=mount_point
)

os.environ["AWS_ACCESS_KEY_ID"] = secret_dict["data"]["data"][
    "ACCESS_KEY"
]
os.environ["AWS_SECRET_ACCESS_KEY"] = secret_dict["data"]["data"][
    "SECRET_KEY"
]
try:
    del os.environ["AWS_SESSION_TOKEN"]
except KeyError:
    pass

In [4]:
from extraction.data import fs

fs.ls("projet-extraction-tableaux/orange/bmp")

['projet-extraction-tableaux/orange/bmp/306769688.bmp',
 'projet-extraction-tableaux/orange/bmp/307299248.bmp',
 'projet-extraction-tableaux/orange/bmp/345039416.bmp',
 'projet-extraction-tableaux/orange/bmp/379984891.bmp',
 'projet-extraction-tableaux/orange/bmp/380129866.bmp',
 'projet-extraction-tableaux/orange/bmp/384518114.bmp',
 'projet-extraction-tableaux/orange/bmp/409759156.bmp',
 'projet-extraction-tableaux/orange/bmp/430107359.bmp',
 'projet-extraction-tableaux/orange/bmp/432668432.bmp',
 'projet-extraction-tableaux/orange/bmp/440419240.bmp',
 'projet-extraction-tableaux/orange/bmp/500413505.bmp',
 'projet-extraction-tableaux/orange/bmp/500440813.bmp',
 'projet-extraction-tableaux/orange/bmp/501614572.bmp']

In [6]:
from pathlib import Path

for path in fs.ls("projet-extraction-tableaux/orange/bmp"):
    file_name = Path(path).stem
    fs.get(path, "../data/orange/" + file_name + ".bmp")

In [19]:
from PIL import Image
from extraction.table_extractor import TableExtractor
import numpy as np

In [9]:
table_extractor = TableExtractor.from_checkpoint(
    "projet-extraction-tableaux/logs/TableNetModule/version_00/checkpoints/marmot_model.ckpt",
    config="--oem 3 --psm 11"
)

siren_list = [
    "306769688",
    "307299248",
    "345039416",
    "379984891",
    "380129866",
    "384518114",
    "409759156",
    "430107359",
    "432668432",
    "440419240",
    "500413505",
    "500440813",
    "501614572"
]
data_dir = "../data/orange"
test_images = [
    Path(data_dir).joinpath(path + ".bmp") for path in siren_list
]

extracted_tables = {}
clean_tables = {}

for siren, image_path in zip(siren_list, test_images):
    extracted_tables[siren] = []
    image = Image.open(image_path)
    out = table_extractor.extract(image)

    for i, df in enumerate(out["tables"]):
        extracted_tables[siren].append(df)

Lightning automatically upgraded your loaded checkpoint from v1.1.6 to v2.0.0. To apply the upgrade to your files permanently, run `python -m pytorch_lightning.utilities.upgrade_checkpoint --file weights.ckpt`
/home/onyxia/work/extraction-comptes-sociaux/notebooks/../extraction_core/extraction/column_assembler.py:39: RuntimeWarning: Mean of empty slice.
  (df.top.unique()[1:] - df.top.unique()[:-1]).mean()
/opt/mamba/lib/python3.10/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/onyxia/work/extraction-comptes-sociaux/notebooks/../extraction_core/extraction/column_assembler.py:39: RuntimeWarning: Mean of empty slice.
  (df.top.unique()[1:] - df.top.unique()[:-1]).mean()
/opt/mamba/lib/python3.10/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/onyxia/work/extraction-comptes-sociaux/notebooks/../extraction_core/extraction/column_assembler.py:39: RuntimeWarning: Mean of empty slice.
  (df.top.unique()[1:] - df.top.unique()[:-1]).mean()
/opt/mamba/lib/python3.10/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/onyxia/work/extraction-comptes-sociaux/notebooks/../extraction_core/extraction/column_assembler.py:39: RuntimeWarning: Mean of empty slice.
  (df.top.unique()[1:] - df.top.unique()[:-1]).mean()
/opt/mamba/lib/python3.10/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/onyxia/work/extraction-comptes-sociaux/notebooks/../extraction_core/extraction/column_assembler.py:39: RuntimeWarning: Mean of empty slice.
  (df.top.unique()[1:] - df.top.unique()[:-1]).mean()
/opt/mamba/lib/python3.10/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/onyxia/work/extraction-comptes-sociaux/notebooks/../extraction_core/extraction/column_assembler.py:39: RuntimeWarning: Mean of empty slice.
  (df.top.unique()[1:] - df.top.unique()[:-1]).mean()
/opt/mamba/lib/python3.10/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/onyxia/work/extraction-comptes-sociaux/notebooks/../extraction_core/extraction/column_assembler.py:39: RuntimeWarning: Mean of empty slice.
  (df.top.unique()[1:] - df.top.unique()[:-1]).mean()
/opt/mamba/lib/python3.10/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [10]:
idx = 0
siren = siren_list[idx]

len(extracted_tables[siren])

1

In [11]:
for table in extracted_tables[siren]:
    print(table)

                                                  col                 col  \
line_id
1                          Filiales et participations                 NaN
2                                        Exprimé en €                 NaN
3                          Filiales et participations  Valeurs comptables
4                                                 NaN                 NaN
5                                                 NaN                 NaN
6                                                 NaN               Brute
7                             A. Renseignements dé es                 NaN
8                           Orange Capital Management           3 342 864
9                     Orange Digital Ventures Support          68 200 000
10                     Orange Digital Ventures Africa                 152
11                                               OVCI           2 377 768
12                Orange Technologies Investissements          26 611 500
13         Orange Ventures MEA SEED Investments Fund1           1 510 578
14                                    Orange Ventures               8 582
15                 Orange Ventures MEA Champion Fund1          10 010 000
16        Orange Ventures Global Champion World Fund1          11 510 000
17       Orange Ventures Global Champion Europe Fund1          55 010 000
18           Orange Ventures Impact Investments Fund1          10 510 000
19                                      Orange Nature              10 000
20                                  REPUBLIC ALLEY SA           3 049 110
21                         ECOMOBILITE VENTURES (SCR)            1414 710
22                        ECOMOBILITE VENTURES (FPCI)           1 990 993
23                                     PARTECH AFRICA          15 000 000
24                                        INNOVACOM 6          11 977 618
25                                         OPV Growth           3 300 819
26                                       OPV Global |          17 921 063
27                                    OPV Early Stage                   1
28                                      OPV Iris Next          77 000 000
29                                        TECHNOCOM 2           3 368 105
30                              Fonds Franco Africain          10 000 000
31                                            VRFUND2           2 472 595
32                                Raise Seed For Good           5 000 000
33                                     Iris Venture 4          33 000 000
34                             CATALANA D'INICIATIVES             628 305
35                                          Edf - KHC           8 795 075
36                       Fonds Paris Saclay Seed Fund           3 283 070
37                                 ROBOLUTION CAPITAL           1 367 006
38                               RAISE INVESTISSEMENT          11 000 000
39                                     RAISE VENTURES           5 000 000
40                                        INNOVACOM 5                   1
41                              Iris Capital Partners                 422
42                            Iris Capital Management                 640
43                                        SEEDCAMP IV           1 281 264
44                                                SET           3 029 455
45                                           LAC1 BPI          50 000 000
46                                LBO-DIGITAL HEALTH2           8 027 936
47                                    LIVELIHOODS CF3           8 000 000
48                                       MOVE CAPITAL          10 000 000
49                                                NaN          l'activité

                           col          col                            col  \
line_id
1                          NaN          NaN                            NaN
2                          NaN          NaN                            NaN
3        comptables des titres      détenus  Quote- part du capital détenu
4                          NaN          NaN                            NaN
5                          NaN          NaN                            NaN
6                        Nette  Fair Value*                            NaN
7                          NaN          NaN                            NaN
8                    3 342 864            |                           100%
9                   68 200 000          NaN                           100%
10                         152          NaN                           100%
11                    2377 768          NaN                            70%
12                   7 654 607          NaN                           100%
13                   1 400 599          NaN                           100%
14                       8 582          NaN                           100%
15                     8812215          NaN                           100%
16                   9 519 183          NaN                           100%
17                  53 547 438          NaN                           100%
18                   9 858 444          NaN                           100%
19                       9 000          NaN                           100%
20                           0            0                          14,5%
21                     264 152      264 152                          17,9%
22                    1412 103    1 412 104                          16,1%
23                  15 000 000   23 754 967                          12,1%
24                   8 578 042    8 578 042                          13,4%
25                   3 300 819   15 941 452                          49,9%
26                  11 701 402   11 701 402                          49,9%
27                           1   28 673 146                           0,0%
28                  77 000 000  108 116 564                          32,0%
29                   3 368 105    5 028 965                          16,0%
30                  10 000 000   10 316 432                          13,0%
31                   2 398 372    2 398 372                          13,2%
32                   5 000 000    5 000 000                          12,0%
33                  33 000 000   33 000 000                          31,7%
34                           0            0                          0,73%
35                    4776 842     4776 842                          7,41%
36                   3 283 070    4 057 193                          6,57%
37                   1 367 006    4 454 203                          4,06%
38                  11 000 000   14 383 226                          2,14%
39                   5 000 000    5 585 037                          8,47%
40                           1          544                          4,18%
41                         422          422                          0,05%
42                         640          640                         <0,01%
43                   1 281 264    8 023 069                          1,67%
44                      49 600       49 600                          1,60%
45                  50 000 000   55 798 550                          1,57%
46                    7637 119    7 637 119                          7,10%
47                   8 000 000    8 000 000                          5,70%
48                  10 000 000   10 000 000                          9,70%
49                         NaN          NaN                            NaN

                                                       col  \
line_id
1                                                      NaN
2                                                      NaN
3        Chiffre d’affaires Capital social hors taxe de...
4                                                 exercice
5                                                      NaN
6                                                   écoulé
7                                                      NaN
8                                                2 346 000
9                                               68 200 000
10                                                 100 000
11                                              34 140 050
12                                                 619 057
13                                               1 510 000
14                                                   8 500
15                                              10 010 000
16                                              11 510 000
17                                              55 010 000
18                                              10 510 000
19                                                  10 000
20                                                  91 222
21                                                    2201
22                                              13 554 142
23                                              54 602 106
24                                             150 056 561
25                                              80 200 501
26                                              38 374 837
27                                              61 503 759
28                                             240 697 684
29                                              29 900 698
30                                              70 620 704
31                                               1 051 816
32                                              41 666 667
33                                             104 034 730
34                                                     NaN
35                                                     NaN
36                                                     NaN
37                                                     NaN
38                                                     NaN
39                                                     NaN
40                                                     NaN
41                                                     NaN
42                                                     NaN
43                                                     NaN
44                                                     NaN
45                                                     NaN
46                                                     NaN
47                                                     NaN
48                                                     NaN
49                                                     NaN

                                         col  \
line_id
1                                        NaN
2                                        NaN
3        Résultat du taxe du dernier dernier
4                              exercice clos
5                                        NaN
6                                        (1)
7                                        NaN
8                                     -3 382
9                                 -4 485 166
10                              -142 304 077
11                                  -593 741
12                                 6 926 639
13                                  -119 629
14                                 2 045 049
15                                -1 271 190
16                                -2 228 183
17                                -1 989 362
18                                  -665 098
19                                       NaN
20                                   -16 968
21                                    71 563
22                                  -222 824
23                                -3 083 820
24                                    70 864
25                                  -372 576
26                                  -427 635
27                                  -639 642
28                                -5 126 033
29                                  -A46 847
30                                  -565 586
31                                  -468 386
32                                       N/C
33                                       N/C
34                                       NaN
35                                       NaN
36                                       NaN
37                                       NaN
38                                       NaN
39                                       NaN
40                                       NaN
41                                       NaN
42                                       NaN
43                                       NaN
44                                       NaN
45                                       NaN
46                                       NaN
47                                       NaN
48                                       NaN
49                                       NaN

                                                       col
line_id
1                                                      NaN
2                                                      NaN
3        Dividendes Date des encaissés états Devises pa...
4                                                    cours
5                                               d’exercice
6                                                    (EUR)
7                                                      NaN
8                                           31-déc.-21 EUR
9                                           EUR 31-déc.-21
10                                          31-déc.-21 XOF
11                                          31-déc.-21 RMB
12                                31-déc.-21 EUR 2 062 189
13                                          EUR 31-déc.-21
14                                          31-déc.-21 EUR
15                                          31-déc.-21 EUR
16                                          EUR 31-déc.-21
17                                          EUR 31-déc.-21
18                                          EUR 31-déc.-21
19                                                     NaN
20                                          31-déc.-20 EUR
21                                          EUR 31-déc.-20
22                                          EUR 31-déc.-20
23                                          31-déc.-20 EUR
24                                          31-déc.-21 EUR
25                                          EUR 31-déc.-21
26                                          31-déc.-21 EUR
27                                EUR 6 817 282 31-déc.-21
28                                          EUR 31-déc.-21
29                                          EUR 31-déc.-21
30                                   31-déc.-21 82 439 EUR
31                                          31-déc.-21 USD
32                                                     NaN
33                                                     NaN
34                                                     NaN
35                                                 218 006
36                                                     NaN
37                                                     NaN
38                                                 561 664
39                                                     NaN
40                                                     NaN
41                                                     150
42                                                     NaN
43                                                     NaN
44                                                     NaN
45                                                     180
46                                                     NaN
47                                                     NaN
48                                                     NaN
49                                                     NaN

In [14]:
fields = [
    "Quote-part du capital détenue (en %)",
    "Valeur brute comptable des titres détenus (en K euros)",
    "Valeur nette comptable des titres détenus (en K euros)",
    "Dividendes encaissés par la société en cours d'exercice (en K euros)",
    "Résultats (bénéfices ou pertes à 100%) "
    "du dernier exercice clos (en K devises)",
]

# Liste des pattern regex afin de déterminer les colonnes d'intérêt
regexes = [
    r"\b(quote-part){e<2}\b",
    r"\b(brute){e<2}\b",
    r"\b(nette){e<2}\b",
    r"\b(dividende){e<4}\b",
    r"\b(resultat){e<3}\b",
]

In [64]:
from typing import List
from difflib import SequenceMatcher
import numpy as np
import pandas as pd
import regex


class NewTableCleaner:
    """
    Cleaner for the table output by `TableExtractor.extract`.
    """

    def __init__(
        self,
        colnames_out: List[str],
        regexes: List[str],
        pct_digit: float = 0.2,
    ):
        """
        Constructor for the TableCleaner class.

        Args:
            colnames_out (List[str]): Columns desired in the output.
            regexes (List[str]): Regular expressions to find in column names.
            pct_digit (float): Minimum percentage of digits in a row (with
                the first column removed) to have it considered as numeric.
        """
        self.colnames_out = colnames_out
        self.regexes = regexes
        self.pct_digit = pct_digit

    def clean_df(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        Selects relevant columns in the pd.DataFrame given as input and
        returns a filtered pd.DataFrame with a clean index and clean
        column names.

        Args:
            df (pd.DataFrame): DataFrame to clean.
        """
        df_without_first_column = df.iloc[:, 1:]
        row_types = self.get_row_types(df_without_first_column)

        if not row_types:
            return df

        # First row can never be values already
        row_types[0] = False
        if not any(row_types):
            header_rows = np.arange(len(row_types))
            body_rows = np.array([])
        else:
            header_rows = np.arange(np.where(row_types)[0][0])
            body_rows = np.arange(np.where(row_types)[0][0], df.shape[0])

        header_df = df.iloc[header_rows]
        body_df = df.iloc[body_rows]

        similarities = []
        fuzzy_matches = []

        for name, value in header_df.items():
            value_cleaned = value.dropna()
            content = " ".join(value_cleaned)
            similarities.append(
                np.array(
                    [
                        self.similar(content, field)
                        for field in self.colnames_out
                    ]
                )
            )
            fuzzy_matches.append(
                np.array(
                    [
                        1
                        if regex.search(
                            regex_pattern, content, flags=regex.IGNORECASE
                        )
                        else 0
                        for regex_pattern in self.regexes
                    ]
                )
            )

        similarities = np.stack(similarities)
        fuzzy_matches = np.stack(fuzzy_matches)

        N, M = similarities.shape
        # Arrays of shape (N, M) with N the number of columns
        # in the extracted table and M = 6 (number of columns we
        # want to match)

        if N > M:
            column_ids = self.ids_from_long_similarities(similarities, fuzzy_matches)
        else:
            column_ids = self.ids_from_wide_similarities(similarities, fuzzy_matches)

        body_df.columns = column_ids
        
        return body_df

    def get_row_types(self, df: pd.DataFrame) -> List[bool]:
        """
        From an input DataFrame, returns a list of booleans and of
        length the number of rows in the DataFrame. Each element of this
        list is set to True if the corresponding row has a percentage of
        digit characters greater than pct_digit and False otherwise.

        Args:
            df (pd.DataFrame): DataFrame to get row types for.
        """
        row_types = []

        for row_index, row in df.iterrows():
            row_cleaned = row.dropna()
            row_as_string = "".join(row_cleaned)

            numbers = sum(c.isdigit() for c in row_as_string)

            try:
                if numbers / len(row_as_string) > self.pct_digit:
                    row_types.append(True)
                else:
                    row_types.append(False)
            except ZeroDivisionError:
                row_types.append(False)

        return row_types

    def ids_from_wide_similarities(
        self,
        similarities: np.ndarray,
        fuzzy_matches: np.ndarray,
    ) -> List[str]:
        """
        Get column ids from wide similarity and fuzzy
        match matrices.

        Args:
            similarities (np.ndarray): Similarity matrix of shape N x M.
            fuzzy_matches (np.ndarray): Match matrix of shape N x M.
        Returns:
            List[str]: Column ids.
        """
        column_match = self.stable_match_wide(similarities * fuzzy_matches)
        scores = np.take_along_axis(
            similarities * fuzzy_matches,
            np.expand_dims(column_match, 1),
            axis=1,
        ).squeeze()

        # Array of length M, indicates position of columns IF1
        # to IF11 (in that order) in the extracted array
        column_match = np.where(scores, column_match, -1)

        column_ids = [""] * similarities.shape[0]
        for i, j in enumerate(column_match):
            if j >= 0:
                index = self.colnames_out[j]
                column_ids[i] = index

        return column_ids

    def ids_from_long_similarities(
        self,
        similarities,
        fuzzy_matches,
    ):
        """
        Get column ids from wide similarity and fuzzy
        match matrices.

        Args:
            similarities (np.ndarray): Similarity matrix of shape N x M.
            fuzzy_matches (np.ndarray): Match matrix of shape N x M.
        Returns:
            List[str]: Column ids.
        """
        column_match = self.stable_match_long(similarities * fuzzy_matches)
        scores = np.take_along_axis(
            similarities * fuzzy_matches,
            np.expand_dims(column_match, 0),
            axis=0,
        )

        # Array of length M, indicates position of columns IF1
        # to IF11 (in that order) in the extracted array
        column_match = np.where(scores, column_match, -1).squeeze()

        column_ids = [""] * similarities.shape[0]
        for i, j in enumerate(column_match):
            if j >= 0:
                index = self.colnames_out[i]
                column_ids[j] = index

        return column_ids
    
    @staticmethod
    def stable_match_long(similarities: np.array) -> np.array:
        """
        From a 2D matrix of similarities between the column names
        desired in the output and the column names in an input matrix,
        returns a stable matching.

        Args:
            similarities (np.array): Similarity matrix.
        """
        order = similarities.argsort(0)
        ncolumns_to_match = order.shape[1]
        ncolumns = order.shape[0]

        FREE = -1
        match = FREE * np.ones(ncolumns_to_match, dtype=np.int_)
        jnext = ncolumns * np.ones(ncolumns_to_match, dtype=np.int_)
        rev_match = FREE * np.ones(ncolumns, dtype=np.int_)

        while np.any(match == FREE):
            i = np.where(match == FREE)[0][0]
            jnext[i] -= 1
            j = order[jnext[i], i]
            if rev_match[j] == FREE:
                rev_match[j], match[i] = i, j
            else:
                if similarities[j, rev_match[j]] < similarities[j, i]:
                    match[rev_match[j]] = FREE
                    rev_match[j], match[i] = i, j

        return match

    @staticmethod
    def stable_match_wide(similarities: np.array) -> np.array:
        """
        From a 2D matrix of similarities between the column names
        desired in the output and the column names in an input matrix,
        returns a stable matching.

        Args:
            similarities (np.array): Similarity matrix.
        """
        transposed_similarities = similarities.T

        order = transposed_similarities.argsort(0)
        ncolumns_to_match = order.shape[1]
        ncolumns = order.shape[0]

        FREE = -1
        match = FREE * np.ones(ncolumns_to_match, dtype=np.int_)
        jnext = ncolumns * np.ones(ncolumns_to_match, dtype=np.int_)
        rev_match = FREE * np.ones(ncolumns, dtype=np.int_)

        while np.any(match == FREE):
            i = np.where(match == FREE)[0][0]
            jnext[i] -= 1
            j = order[jnext[i], i]
            if rev_match[j] == FREE:
                rev_match[j], match[i] = i, j
            else:
                if transposed_similarities[j, rev_match[j]] < transposed_similarities[j, i]:
                    match[rev_match[j]] = FREE
                    rev_match[j], match[i] = i, j

        return match

    @staticmethod
    def similar(a: str, b: str) -> float:
        """
        Returns the Levenshtein similarity between two strings given as inputs.

        Args:
            a (str): First string.
            b (str): Second string.
        """
        return SequenceMatcher(None, a, b).ratio()

In [91]:
import re

def replace_comma(col):
    return col.str.replace(",", r"\.")


def clean_string(s):
    if isinstance(s, str):
        pattern = r'[^0-9\.]'
        return re.sub(pattern, '', s)
    else:
        return s


def cast_column(col):
    return col.astype(str).str.strip().astype(float)

In [95]:
cleaner = NewTableCleaner(fields, regexes)
clean_tables = {}

for siren, table_list in extracted_tables.items():
    print("---")
    print(siren)
    selected_df = None
    num_cols = 0
    
    for df in table_list:
        # Clean
        clean_df = cleaner.clean_df(df)
        if clean_df is not None:
            first_column = clean_df.iloc[:, 0]
            df_to_filter = clean_df.iloc[:, 1:]

            filtered_df = df_to_filter.loc[:, ~df_to_filter.columns.isin([""])]
            if filtered_df.shape[1] > num_cols:
                num_cols = filtered_df.shape[1]
                # Clean up les colonnes numériques
                filtered_df = filtered_df.apply(replace_comma)
                filtered_df = filtered_df.applymap(clean_string)
                filtered_df = filtered_df.replace("", "0")
                filtered_df = filtered_df.replace(".", "0")
                filtered_df = filtered_df.replace('\.\.', '.', regex=True)
                print(filtered_df)
                filtered_df = filtered_df.apply(cast_column)
                filtered_df = filtered_df.fillna(0.0)
                selected_df = pd.concat([first_column, filtered_df], axis=1)
        
        clean_tables[siren] = selected_df

---
306769688
        Valeur brute comptable des titres détenus (en K euros)  \
line_id
8                                                  3342864
9                                                 68200000
10                                                     152
11                                                 2377768
12                                                26611500
13                                                 1510578
14                                                    8582
15                                                10010000
16                                                11510000
17                                                55010000
18                                                10510000
19                                                   10000
20                                                 3049110
21                                                 1414710
22                                                 1990993
23                                                15000000
24                                                11977618
25                                                 3300819
26                                                17921063
27                                                       1
28                                                77000000
29                                                 3368105
30                                                10000000
31                                                 2472595
32                                                 5000000
33                                                33000000
34                                                  628305
35                                                 8795075
36                                                 3283070
37                                                 1367006
38                                                11000000
39                                                 5000000
40                                                       1
41                                                     422
42                                                     640
43                                                 1281264
44                                                 3029455
45                                                50000000
46                                                 8027936
47                                                 8000000
48                                                10000000
49                                                       0

        Valeur nette comptable des titres détenus (en K euros)  \
line_id
8                                                  3342864
9                                                 68200000
10                                                     152
11                                                 2377768
12                                                 7654607
13                                                 1400599
14                                                    8582
15                                                 8812215
16                                                 9519183
17                                                53547438
18                                                 9858444
19                                                    9000
20                                                       0
21                                                  264152
22                                                 1412103
23                                                15000000
24                                                 8578042
25                                                 3300819
26                                                11701402
27                                                       1
28                                                77000000
29                                                 3368105
30                                                10000000
31                                                 2398372
32                                                 5000000
33                                                33000000
34                                                       0
35                                                 4776842
36                                                 3283070
37                                                 1367006
38                                                11000000
39                                                 5000000
40                                                       1
41                                                     422
42                                                     640
43                                                 1281264
44                                                   49600
45                                                50000000
46                                                 7637119
47                                                 8000000
48                                                10000000
49                                                     NaN

        Quote-part du capital détenue (en %)  \
line_id
8                                        100
9                                        100
10                                       100
11                                        70
12                                       100
13                                       100
14                                       100
15                                       100
16                                       100
17                                       100
18                                       100
19                                       100
20                                      14.5
21                                      17.9
22                                      16.1
23                                      12.1
24                                      13.4
25                                      49.9
26                                      49.9
27                                       0.0
28                                      32.0
29                                      16.0
30                                      13.0
31                                      13.2
32                                      12.0
33                                      31.7
34                                      0.73
35                                      7.41
36                                      6.57
37                                      4.06
38                                      2.14
39                                      8.47
40                                      4.18
41                                      0.05
42                                      0.01
43                                      1.67
44                                      1.60
45                                      1.57
46                                      7.10
47                                      5.70
48                                      9.70
49                                       NaN

        Résultats (bénéfices ou pertes à 100%) du dernier exercice clos (en K devises)  \
line_id
8                                                     3382
9                                                  4485166
10                                               142304077
11                                                  593741
12                                                 6926639
13                                                  119629
14                                                 2045049
15                                                 1271190
16                                                 2228183
17                                                 1989362
18                                                  665098
19                                                     NaN
20                                                   16968
21                                                   71563
22                                                  222824
23                                                 3083820
24                                                   70864
25                                                  372576
26                                                  427635
27                                                  639642
28                                                 5126033
29                                                   46847
30                                                  565586
31                                                  468386
32                                                       0
33                                                       0
34                                                     NaN
35                                                     NaN
36                                                     NaN
37                                                     NaN
38                                                     NaN
39                                                     NaN
40                                                     NaN
41                                                     NaN
42                                                     NaN
43                                                     NaN
44                                                     NaN
45                                                     NaN
46                                                     NaN
47                                                     NaN
48                                                     NaN
49                                                     NaN

        Dividendes encaissés par la société en cours d'exercice (en K euros)
line_id
8                                                    31.21
9                                                    31.21
10                                                   31.21
11                                                   31.21
12                                            31.212062189
13                                                   31.21
14                                                   31.21
15                                                   31.21
16                                                   31.21
17                                                   31.21
18                                                   31.21
19                                                     NaN
20                                                   31.20
21                                                   31.20
22                                                   31.20
23                                                   31.20
24                                                   31.21
25                                                   31.21
26                                                   31.21
27                                            681728231.21
28                                                   31.21
29                                                   31.21
30                                              31.2182439
31                                                   31.21
32                                                     NaN
33                                                     NaN
34                                                     NaN
35                                                  218006
36                                                     NaN
37                                                     NaN
38                                                  561664
39                                                     NaN
40                                                     NaN
41                                                     150
42                                                     NaN
43                                                     NaN
44                                                     NaN
45                                                     180
46                                                     NaN
47                                                     NaN
48                                                     NaN
49                                                     NaN
---
307299248
---
345039416
Empty DataFrame
Columns: [Quote-part du capital détenue (en %), Valeur brute comptable des titres détenus (en K euros), Valeur nette comptable des titres détenus (en K euros), Résultats (bénéfices ou pertes à 100%) du dernier exercice clos (en K devises), Dividendes encaissés par la société en cours d'exercice (en K euros)]
Index: []
---
379984891
Empty DataFrame
Columns: [col, col, col, col]
Index: []
---
380129866
        Quote-part du capital détenue (en %)  \
line_id
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        100
10                                       100
11                                     50.67
12                                       NaN
13                                       100
14                                       100
15                                       100
16                                       NaN
17                                       NaN
18                                       100
19                                       100
20                                       NaN
21                                       100
22                                       100
23                                       100
24                                       100
25                                       100
26                                       NaN
27                                       NaN
28                                       NaN
29                                       NaN
30                                       NaN
31                                       NaN
32                                         0
33                                       NaN
34                                         0
35                                       NaN
36                                       NaN

        Résultats (bénéfices ou pertes à 100%) du dernier exercice clos (en K devises)  \
line_id
5                                                        1
6                                                      NaN
7                                                      NaN
8                                                      NaN
9                                                     3120
10                                                    2061
11                                                     201
12                                                     NaN
13                                                     308
14                                                     NaN
15                                                     NaN
16                                                     NaN
17                                                     NaN
18                                                       0
19                                                      69
20                                                     NaN
21                                                      40
22                                                     NaN
23                                                      40
24                                                     NaN
25                                                       4
26                                                     NaN
27                                                     NaN
28                                                     NaN
29                                                     NaN
30                                                     NaN
31                                                     NaN
32                                                     NaN
33                                                     NaN
34                                                     NaN
35                                                     NaN
36                                                     NaN

        Dividendes encaissés par la société en cours d'exercice (en K euros)
line_id
5                                                     2021
6                                                        0
7                                                      NaN
8                                                      NaN
9                                                      NaN
10                                                     NaN
11                                                     NaN
12                                                     NaN
13                                                     250
14                                                     NaN
15                                                     NaN
16                                                     NaN
17                                                     NaN
18                                                     NaN
19                                                      55
20                                                     NaN
21                                                     235
22                                                     NaN
23                                                     NaN
24                                                     NaN
25                                                     225
26                                                    1307
27                                                 1767309
28                                                     NaN
29                                                     NaN
30                                                     NaN
31                                                     NaN
32                                                     NaN
33                                                 1767310
34                                                     NaN
35                                                     NaN
36                                                     NaN
---
384518114
        Résultats (bénéfices ou pertes à 100%) du dernier exercice clos (en K devises)  \
line_id
11                                                    1000
12                                                     NaN
13                                                   39100
14                                                    1150
15                                                   11300
16                                                 7482300
17                                                     NaN
18                                                  327000
19                                                  312758
20                                                     NaN
21                                                 1907004
22                                                    1110
23                                                     NaN
24                                                 5858000
25                                                     NaN
26                                                  199200
27                                                     NaN
28                                                35455000
29                                                     NaN
30                                                 1727200
31                                                     NaN
32                                                36994000
33                                                     NaN
34                                                  862000
35                                                     NaN
36                                                  295000
37                                                     NaN
38                                                 5629000
39                                                     NaN
40                                                 2478000

In [96]:
idx = 0
siren = siren_list[idx]

In [97]:
for table in extracted_tables[siren]:
    print(table.shape)
    print(table.head())

(49, 8)
                                col                 col  \
line_id
1        Filiales et participations                 NaN
2                      Exprimé en €                 NaN
3        Filiales et participations  Valeurs comptables
4                               NaN                 NaN
5                               NaN                 NaN

                           col      col                            col  \
line_id
1                          NaN      NaN                            NaN
2                          NaN      NaN                            NaN
3        comptables des titres  détenus  Quote- part du capital détenu
4                          NaN      NaN                            NaN
5                          NaN      NaN                            NaN

                                                       col  \
line_id
1                                                      NaN
2                                                      NaN
3        Chiffre d’affaires Capital social hors taxe de...
4                                                 exercice
5                                                      NaN

                                         col  \
line_id
1                                        NaN
2                                        NaN
3        Résultat du taxe du dernier dernier
4                              exercice clos
5                                        NaN

                                                       col
line_id
1                                                      NaN
2                                                      NaN
3        Dividendes Date des encaissés états Devises pa...
4                                                    cours
5                                               d’exercice

In [98]:
for table in clean_tables[siren]:
    print(table.shape)
    print(table.head())

AttributeError: 'str' object has no attribute 'shape'